.resultados{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1.5);
    margin: 0 auto;

 &__header{
    text-align: center;
}

 img{ 
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;}
}   


.carousel-item img {
    max-width: auto;
    height: 700px;
}
.effect__redes {
    transition: box-shadow 1.5s;
  
:hover {
    box-shadow: 0 25px 50px 0px rgba(0, 0, 0, 0.541);
  }
}
/*--intitucional --*/
@mixin boton {
    background-color: #4CAF50; /* Green */
    border-radius: 8px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: box-shadow 1.5s;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.boton {
    @include boton();

:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
}
/*--contacto --*/
@mixin formulario {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}
form {
    background-color: #fff;
    width: 90%;
    margin:auto;
    max-width: 700px;
    padding:10px 20px ;
    border-radius: 10px;
    box-shadow: 0 5px 10px -spx rgba(0, 0, 0, 0.541);
input{
    @include formulario ();
    margin: 8px 0;
}
textarea {
    @include formulario();
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
}